YOU'RE LOOKING AT THE DETAILS PAGE FOR THE PRODUCTS - ALL OF THEM AT ONCE - WE'RE STILL WORKING
ON LETTING YOU SEE ONE PIECE OF ART AT A TIME WITH ITS DETAILS....

<br></br>
IF YOU SEE MICK WE'RE STILL A WORK IN PROGRESS!

  <div class="header">
    <h3 class="text-muted">KACKIE ANGULAR PROJECT</h3>
  <nav class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  
  </div>
<br></br>

<img src="images/youngmick.jpg" alt="I'm The Grim Reaper">

<br>GIVE ME SOME SPACE</br>


<input type="text" data-ng-model="post.title">
<textarea data-ng-model="post.content"></textarea>
<button data-ng-click="newPost(post)">Add To Cart</button>


<div class="footer">
  <p><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</p>
</div>